<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> expenses </h1>
        <% expenses.forEach(expense => { %>
                <li>ID: <%= expense.id %> - <a href="/expenses/<%= expense.id %>">click</a></li>
                <li>Name: <%= expense.name %></li>
                <li>Cost: <%= expense.cost %></li>
                <li>Created At: <%= expense.createdAt %></li>
            <br>
        <% }) %>
</body>
</html>